/* setup */
$gridunit: 24px;
$teal: #05b796;

$white:#FFFFFF;
$offwhite:#EFEFEF;

$c1: #EBD8B7;
$c2: #C6A9A3;
$c3: #9A8194;
$c4: #5B527F;
$c5: #99BBAD;

$transtime: 0.2s;
$darktext: desaturate(darken($c1, 40%), 70%);

@mixin transform($props){
-webkit-transform: $props;
   -moz-transform: $props;
    -ms-transform: $props;
     -o-transform: $props;
        transform: $props;
}

@mixin transitions($time){
-webkit-transition: all $time;
   -moz-transition: all $time;
	-ms-transition: all $time;
	 -o-transition: all $time;
		transition: all $time;
}

@mixin dropshadow-filter{
	filter: drop-shadow( 
		-$gridunit*0.3 
		$gridunit 
		$gridunit/3 
		rgba(0,0,0,0.25) ); /* Same syntax as box-shadow */
	-webkit-filter: drop-shadow( 
		-$gridunit*0.3 
		$gridunit 
		$gridunit/3 
		rgba(0,0,0,0.25) ); /* Same syntax as box-shadow */
}

@mixin dropshadow{
	-webkit-box-shadow: 0 $gridunit $gridunit 0 rgba(0,0,0,0.2);
	box-shadow: 0 $gridunit $gridunit 0 rgba(0,0,0,0.2);
}

@mixin dropshadow-small{
	-webkit-box-shadow: 0 $gridunit/2 $gridunit/2 0 rgba(0,0,0,0.2);
	box-shadow: 0 $gridunit/2 $gridunit/2 0 rgba(0,0,0,0.2);
}

@font-face {
	font-family: 'Pixel';
	font-style: normal;
	font-weight: 400;
	src: url(./fonts/C&C_Red_Alert_[INET].ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Raleway/Raleway-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/Raleway/Raleway-SemiBold.otf) format('opentype');
}

*,*:before, *:after{
	margin:0;
	padding:0;
	box-sizing: border-box ;
}

html, body{
	height:100%;
}

body{
	color: $offwhite;
	font-family:Raleway;
	min-width: 30 * $gridunit;
	background-color: lighten(desaturate($c4, 7%), 5%);

	& > section {
		padding: $gridunit * 2;
		position:relative;

		background-attachment:fixed;
		background-position:center;
		background-size:cover;

	}
}

/* Commons */

a{
	text-decoration:none;
	outline:none;
}


h1{	
	font-size: 2 * $gridunit;
	line-height:100%;
}

nav{
	position:fixed;
	z-index:5;
	top:50%;
	margin-top:-$gridunit * 4;
	right:$gridunit;

	$xof: -$gridunit/8;
	$yof: -$gridunit * 3/16;

	text-align:right;;
	a{
		position:relative;
		display:block;
		height:$gridunit;
		margin-bottom:$gridunit/2;
		margin-top:$gridunit/2;
		font-size: $gridunit;
		color: $white;
		@include transitions($transtime);
		opacity:0.5;
	}
	a:hover{
		opacity:1;
	}

	a:before{
		display: inline-block;
		position:absolute;
		right:$gridunit;
		content: attr(data-text);
		opacity:0;
		@include transitions($transtime);
		@include transform(translate($gridunit+$xof, $yof));
		padding: $gridunit / 4;
		background-color:blue;
		@include dropshadow-small;
	}
	a:after, a:before{
		pointer-events:none;
	}

	a:after{
		position:absolute;
		right:1 + $gridunit/2;
		top:$gridunit/2 - $gridunit/4 + 3px;
		content:"";
		border: $gridunit/2 solid;
		border-color:transparent;
		border-left-color:red;

		@include transitions($transtime);
		@include transform(translate($gridunit+$xof, $yof));
		opacity:0;
	}

	a:hover:after{
		opacity:1;
		@include transform(translate($xof, $yof));
	}

	a:hover:before{
		opacity:1;
		@include transform(translate(-$gridunit/2 + $xof, $yof));
	}

	$culp: 4%;

	a[href="#intro"]{
		&:before{
			background-color:lighten($c2, $culp);
		}
		&:after{
			border-left-color:lighten($c2, $culp);
		}
	}
	
	a[href="#about"]{
		&:before{
			background-color:lighten($c3, $culp);
		}
		&:after{
			border-left-color:lighten($c3, $culp);
		}
	}

	a[href="#faq"]{
		&:before{
			background-color:lighten($c5, $culp);
		}
		&:after{
			border-left-color:lighten($c5, $culp);
		}
	}

}

.content{
	max-width: $gridunit * 50;
	margin-left:auto;
	margin-right:auto;
}

#intro{
	position: relative;
	text-align: center;
	min-height:$gridunit * 20; // TODO this

	$imgratio: 	574 / 1230; // height over width
	$imgwidth: $gridunit * 20;
	$imgheight: $imgratio * $imgwidth;
	img{
		width: $imgwidth;
		height: $imgheight;
		position:relative;
		top:50%;

		@include dropshadow;
	}

	h1{

		position:relative;
		$voff: -$gridunit * 2.5;
		top: $voff;
		margin-bottom: $voff - $gridunit;

		em{
			font-size: 1.2em;
			font-family: Pixel;
			
			font-style: normal;
		}
		
		font-size: 6 * $gridunit;
		line-height:100%;

  		/* webkit only gradient on text*/
  		background-image: -webkit-linear-gradient(top, $white, lighten($c2,15%));
		-webkit-background-clip:text;
		-webkit-text-fill-color: transparent;

  		
	}

	time{
		font-size:$gridunit * 2;
	}

	p{
		margin-left: auto;
		margin-right: auto;
		font-size: $gridunit;
		max-width: $gridunit * 20;
	}

	background-color: $c2;
}

.imgsplash{
	&:before{
		content:"";
		position:absolute;
		display:block;
		left:0;
		right:0;
		top:0;
		bottom:0;
		z-index:0;
	}

	& > *{
		position:relative;
		z-index:2;
	}
}

.fold{
	min-height:$gridunit * 10;
	//height:100%;
}

.lighttext{
	@include dropshadow;
	background-color: $c1;
	color: $darktext;
	text-align:left;	
	padding: $gridunit * 2;
	}

#about{
	background-color: $c3;
	font-size: 0;
	text-align:center;

	.content section{
		vertical-align:top;
		display:inline-block;
		position:relative;
		max-width: 30 * $gridunit;
	}

	p{
		margin-top: $gridunit;
		font-size: $gridunit;
	}

	.centeredimg{
		position:relative;
		width:$gridunit * 15;
		height:$gridunit * 15;
		margin: $gridunit * 2;
		margin-bottom:0;
		img{
			height:$gridunit * 15;

			position:absolute;
			left:50%;
			margin-left: -$gridunit * 7.5;
			@include transform(rotate(15deg) scaleX(-1));
			@include dropshadow-filter;
			//@include dropshadow; --TODO this once it's svg
		}
	}

	.content .imgs{
		display:block;
		margin-top: $gridunit * 2;
		margin-bottom: $gridunit;
		display:block;
		margin-right: auto;
		margin-left:auto;

		max-width: 30 * $gridunit;


		a{
			width:30%;
			position:relative;
			display:inline-block;			
		}
		a:not(*:last-child){
			margin-right: 5%;
		}
		img{
			width:100%;
			@include dropshadow;
		}
	}
}

#faq{
	background-color: $c5;
	text-align:center;

	h1{
		font-size: 3 * $gridunit;
	}

	aside{
		font-size: $gridunit;
		margin-bottom: $gridunit/2;
	}

	h2{
		margin-bottom: $gridunit/2;
	}

	.question{
		text-align:left;
		$imgdim: $gridunit * 2;
		$imgpadding: $gridunit;

		display:inline-block;
		vertical-align: top;
		width: $gridunit * 20;
		padding: $gridunit;
		margin: $gridunit/2;
		background-color: $c1;
		color: $darktext;

		position:relative;
		font-size: $gridunit*0.75;
	}

	.contact{
		margin-top: $gridunit;
		color: lighten($c5,20%);
		width: $gridunit * 20;
		margin-right:auto;
		margin-left:auto;

		a{
			color: lighten(saturate($c5,20%),30%);
		}
		a:hover{
			text-decoration: underline;
		}
	}
}

#footer{
	
	$imgsize: $gridunit * 4;
	$fontsize: $gridunit ;
	$textpad: $gridunit/2;
	margin:$gridunit;
	padding:0;


	.content > *{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	a{
		width: $imgsize;
		img{
			height: $imgsize;
			height: $imgsize;

			border-radius: $imgsize/2;

			@include dropshadow;
		}
	}
	h2{
		text-align:center;
		font-size: $fontsize;
		margin-top: $textpad;
		font-weight:400;
	}

}

@media screen and (max-width: 820px){
	#about section{
		display:block;
		width:auto;
	}

	#about section:nth-child(2){
		margin-right: auto;
		margin-left:auto
	}
}

@media screen and (max-width: 30 * $gridunit){
	body{
		min-width: 25 * $gridunit;
	}

	#intro{
		 h1{
			font-size: $gridunit * 4;
			$voff: -$gridunit * 1.5;
			top: $voff;
			margin-bottom: $voff - $gridunit;
		}
		time{
			font-size: $gridunit * 1.5;
		}
		p{
			font-size: $gridunit;
		}
	}

	nav{
		right: $gridunit/2;
		a:after, a:before{
			font-size: $gridunit * 0.75;
		}

		a:before{
			top:6px;
		}

		a:after{
			top: 14px;
			border-width:$gridunit/3 !important;

			right:2 + $gridunit/2 + $gridunit/4;
		}
	}


	#about{
		h1{
			font-size: $gridunit * 1.5;
		}
		p{
			font-size: $gridunit * 0.75 !important;
		}
	}
}